
bin/Debug/input.txt
bin/Debug/output.txt
bin/Debug/TETRIS.exe
ERR.txt
obj/Debug/main.o
testris/check.sh
testris/in/test0.in
testris/in/test1.in
testris/in/test10.in
testris/in/test11.in
testris/in/test12.in
testris/in/test13.in
testris/in/test14.in
testris/in/test15.in
testris/in/test16.in
testris/in/test17.in
testris/in/test2.in
testris/in/test3.in
testris/in/test4.in
testris/in/test5.in
testris/in/test6.in
testris/in/test7.in
testris/in/test8.in
testris/in/test9.in
testris/ref/test0.ref
testris/ref/test1.ref
testris/ref/test10.ref
testris/ref/test11.ref
testris/ref/test12.ref
testris/ref/test13.ref
testris/ref/test14.ref
testris/ref/test15.ref
testris/ref/test16.ref
testris/ref/test17.ref
testris/ref/test2.ref
testris/ref/test3.ref
testris/ref/test4.ref
testris/ref/test5.ref
testris/ref/test6.ref
testris/ref/test7.ref
testris/ref/test8.ref
testris/ref/test9.ref
testris/teste_enunt/coliziune.in
testris/teste_enunt/elim_ln.in
testris/teste_enunt/gameover.in
TETRIS.cbp
TETRIS.depend
TETRIS.layout
